force-app/main/default/staticresources/testyuliaortal.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns2="http://MACCABI-ESB/macHitchayvuyot.ws.provider:RetrievingServiceReferrals" xmlns:ns3="http://MACCABI-ESB/macHitchayvuyot.ws.providers.tafnit:IsRequestLiabilityAuto" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://tempuri.org">
    <types>
        <s:schema targetNamespace="http://tempuri.org">
            <s:import namespace="http://MACCABI-ESB/macHitchayvuyot.ws.provider:RetrievingServiceReferrals"/>
            <s:complexType name="retrievingServiceReferrals">
                <s:sequence>
                    <s:element minOccurs="0" name="RetrievingServiceReferralsInput" type="ns2:RetrievingServiceReferralsInput"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="retrievingServiceReferralsResponse">
                <s:sequence>
                    <s:element name="RetrievingServiceReferralsOutput" type="ns2:RetrievingServiceReferralsOutput"/>
                </s:sequence>
            </s:complexType>
        </s:schema>
        <s:schema targetNamespace="http://MACCABI-ESB/macHitchayvuyot.ws.provider:RetrievingServiceReferrals">
            <s:import namespace="http://MACCABI-ESB/macHitchayvuyot.ws.providers.tafnit:IsRequestLiabilityAuto"/>
            <s:complexType name="RetrievingServiceReferralsInput">
                <s:sequence>
                    <s:element name="MemberID" type="ns2:MemberID"/>
                    <s:element name="MemberIDCode" type="ns2:MemberIDCode"/>
                    <s:element minOccurs="0" name="ReferringDoctorID" type="ns2:ReferringDoctorID"/>
                    <s:element minOccurs="0" name="ReferralType" type="ns2:ReferralType"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="MemberID">
                <s:restriction base="s:int">
                    <s:maxInclusive value="2147483647"/>
                    <s:minInclusive value="-2147483648"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="MemberIDCode">
                <s:restriction base="s:int">
                    <s:maxInclusive value="2147483647"/>
                    <s:minInclusive value="-2147483648"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="ReferringDoctorID">
                <s:restriction base="s:int">
                    <s:maxInclusive value="2147483647"/>
                    <s:minInclusive value="-2147483648"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="ReferralType">
                <s:restriction base="s:string">
                    <s:maxLength value="20"/>
                    <s:minLength value="0"/>
                </s:restriction>
            </s:simpleType>
            <s:complexType name="RetrievingServiceReferralsOutput">
                <s:sequence>
                    <s:element minOccurs="0" name="ErrorCode" type="s:string"/>
                    <s:element minOccurs="0" name="Referrals" type="ns2:ArrayOfReferralReferral"/>
                    <s:element minOccurs="0" name="ResultMessage" type="ns3:ResultMessage"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfReferralReferral">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="Referral" nillable="true" type="ns2:Referral"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="Referral">
                <s:sequence>
                    <s:element minOccurs="0" name="DoctorID" type="ns2:DoctorID"/>
                    <s:element minOccurs="0" name="DoctorName" type="ns2:DoctorName"/>
                    <s:element minOccurs="0" name="DoctorPhoneNumber" type="s:string"/>
                    <s:element minOccurs="0" name="DoctorAddress" type="s:string"/>
                    <s:element minOccurs="0" name="DoctorSpecialization" type="s:string"/>
                    <s:element minOccurs="0" name="DoctorLicense" type="ns2:DoctorLicense"/>
                    <s:element minOccurs="0" name="ReferralDate" type="ns2:ReferralDate"/>
                    <s:element minOccurs="0" name="ReferralNumber" type="ns2:ReferralNumber"/>
                    <s:element minOccurs="0" name="ObligationNumber" type="s:string"/>
                    <s:element minOccurs="0" name="ObligationBranch" type="s:string"/>
                    <s:element minOccurs="0" name="BranchPhone" type="s:string"/>
                    <s:element minOccurs="0" name="ServiceType" type="s:string"/>
                    <s:element minOccurs="0" name="AssutaDeptDescription" type="s:string"/>
                    <s:element minOccurs="0" name="TreatmentDate" type="s:string"/>
                    <s:element minOccurs="0" name="TreatmentInstruction" type="s:string"/>
                    <s:element minOccurs="0" name="TypeReferral" type="ns2:TypeReferral"/>
                    <s:element minOccurs="0" name="Urgency" type="s:string"/>
                    <s:element minOccurs="0" name="Moked" type="s:string"/>
                    <s:element minOccurs="0" name="Findings" type="s:string"/>
                    <s:element minOccurs="0" name="Complaints" type="s:string"/>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="Treatments" nillable="true" type="ns2:Treatments"/>
                    <s:element minOccurs="0" name="GenericData" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="DoctorID">
                <s:restriction base="s:string">
                    <s:maxLength value="9"/>
                    <s:minLength value="0"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="DoctorName">
                <s:restriction base="s:string">
                    <s:maxLength value="25"/>
                    <s:minLength value="0"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="DoctorLicense">
                <s:restriction base="s:string">
                    <s:maxLength value="7"/>
                    <s:minLength value="0"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="ReferralDate">
                <s:restriction base="s:string">
                    <s:maxLength value="8"/>
                    <s:minLength value="0"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="ReferralNumber">
                <s:restriction base="s:string">
                    <s:maxLength value="9"/>
                    <s:minLength value="0"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="TypeReferral">
                <s:restriction base="s:string">
                    <s:maxLength value="20"/>
                    <s:minLength value="0"/>
                </s:restriction>
            </s:simpleType>
            <s:complexType name="ArrayOfTreatmentsTreatments">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="Treatments" nillable="true" type="ns2:Treatments"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="Treatments">
                <s:sequence>
                    <s:element minOccurs="0" name="TreatmentCode" type="ns2:TreatmentCode"/>
                    <s:element minOccurs="0" name="TreatmentDescription" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="TreatmentCode">
                <s:restriction base="s:string"/>
            </s:simpleType>
        </s:schema>
        <s:schema targetNamespace="http://MACCABI-ESB/macHitchayvuyot.ws.providers.tafnit:IsRequestLiabilityAuto">
            <s:complexType name="ResultMessage">
                <s:sequence>
                    <s:element minOccurs="0" name="Message" type="s:string"/>
                    <s:element minOccurs="0" name="Description" type="s:string"/>
                    <s:element name="Code" type="s:int"/>
                </s:sequence>
            </s:complexType>
        </s:schema>
    </types>
    <message name="retrievingServiceReferralsSoapIn">
        <part name="parameters" type="s0:retrievingServiceReferrals"/>
    </message>
    <message name="retrievingServiceReferralsSoapOut">
        <part name="parameters" type="s0:retrievingServiceReferralsResponse"/>
    </message>
    <portType name="RetrievingServiceReferralsSoap">
        <operation name="retrievingServiceReferrals">
            <input message="s0:retrievingServiceReferralsSoapIn"/>
            <output message="s0:retrievingServiceReferralsSoapOut"/>
        </operation>
    </portType>
    <binding name="RetrievingServiceReferralsSoap" type="s0:RetrievingServiceReferralsSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="retrievingServiceReferrals">
            <soap:operation soapAction="macHitchayvuyot_ws_provider_RetrievingServiceReferrals_Binder_retrievingServiceReferrals" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="RetrievingServiceReferrals">
        <port name="RetrievingServiceReferralsSoap" binding="s0:RetrievingServiceReferralsSoap">
            <soap:address location="http://asnt1131v:57772/csp/salesforce/Assuta.Maccabi.BS.RetrievingServiceReferrals.cls"/>
        </port>
    </service>
</definitions>